.DS_Store

# Em resumo, a linha .DS_Store no arquivo .gitignore serve para ignorar os arquivos .DS_Store criados pelo sistema operacional macOS, mantendo o repositório Git organizado e evitando a inclusão de arquivos desnecessários.