footer{
    display: flex;
    gap: 24px;
    padding-block: 24px;    /* Adiciona um padding (espaçamento interno) de 24 pixels na vertical */

    font: 14px/150% var(--font-family);    /* Define a fonte e o tamanho da fonte */
}
footer span:nth-child(1){/* Seleciona o primeiro span filho do elemento footer */
    margin-right: auto;    /* Adiciona um margin (espaçamento externo) à direita automático */
}