main{
    display: flex;
    flex-wrap: wrap;    /* Permite que os elementos filhos quebrem para a linha seguinte quando não há mais espaço na linha atual */
    gap: 24px;
    padding-block: 24px;    /* Adiciona um espaçamento de 24 pixels acima e abaixo do conteúdo do elemento "main" */
}

main img{
    width: 286px;
    height: 286px;
    object-fit: cover;   /* Faz com que a imagem seja redimensionada para se encaixar no espaço disponível, mantendo a proporção original */
}